<?php
    $sql = "SELECT * FROM dane_osobowe WHERE wiek>10 AND wiek<18 ORDER BY id;";
    $result = $conn->query($sql);

$i=1;
if ($result->num_rows > 0) 
{
    echo "<table border=\"1\">";
    while($row = mysqli_fetch_assoc($result))
    {
        echo '<tr><td>'  . $i++.'('. $row["id"].')'  .  '</td><td>' . $row["imie"] . '</td><td>' . $row["nazwisko"] . '</td><td>' . $row["wiek"] . '</td></tr>';
     
    }
    echo "</table>";
} 
else 
{
    echo "0 results";
}
?>	