<?php
    $sql = "SELECT * FROM dane_osobowe WHERE id>=30 AND id<=60 ORDER BY nazwisko;";
    $result = $conn->query($sql);

$i=1;
if ($result->num_rows > 0) 
{
    echo "<table border=\"1\">";
    while($row = mysqli_fetch_assoc($result))
    {
        echo '<tr><td>('. $row["id"].')'  .  '</td><td>' . $row["imie"] . '</td><td>' . $row["nazwisko"] . '</td><td>' . $row["miejsce_urodzenia"] . '</td><td>' . $row["data"] . '</td><td>' . $row["wiek"] . '</td></tr>';
     
    }
    echo "</table>";
} 
else 
{
    echo "0 results";
}
?>	